[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
pint = "*"

[dev-packages]
pytest = "*"
python-lsp-server = {extras = ["pylint"], version = "*"}
pylsp-mypy = "*"
python-lsp-ruff = "*"

[requires]
python_version = "3.12"
